$font-stack:    Roboto, Helvetica, sans-serif;
$primary-color: #4BB1B7;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: black;
}

#main-header {
	background-color: #4BB1B7;
	width: 100%;
	height: 350px;
	line-height: 20px;
	margin: 0px;
	color: white;
}

#main-title {
	font-size: 24px;
}

i#userBubble {
	width: 120px;
	color: #FFFFFF
}

a.brand-logo {
	font: roboto-bold;
	width: 60px;
}

i.fa-bars {
	color: #FFFFFF;
}

#menu {
	float: right;
}

#gray-mid-section {
	background-color: #d0d0d0;
	height: 275px;
	color: black;
}

#mid-section-parg {
	margin: 0px;
	padding-top: 50px
}

#small-title-parg {
	margin: 0px;
	padding-top: 10px
}
.category-description {
	color: black;
}

#category-section {
	background-color: #FFFFFF;
	margin: 0px
}

.category-icons {
	display: inline-block;
    width: 100%;
}

.row {
	margin: 0px;
}

#category-section

.category-title {
	color: black;
}

.category-underline {
	color: #4BB1B7;
}

#footer-hr {
margin:0px
}

footer.page-footer {
	background-color: #2F3235;
	color: white;
	margin: 0px;
	padding-top: 100px
}